[submodule "vendor/spark"]
        path = vendor/spark
        url = https://github.com/holman/spark.git
[submodule "vendor/fasd"]
        path = vendor/fasd
        url = https://github.com/clvv/fasd.git
[submodule "vendor/prezto"]
        path = vendor/prezto
        url = https://github.com/sorin-ionescu/prezto.git
[submodule "vendor/manage"]
        path = vendor/manage
        url = https://github.com/escapace/manage.git
[submodule "vendor/fzf"]
        path = vendor/fzf
        url = https://github.com/junegunn/fzf.git
