.manage_modules
bin/*
fish/fish_variables
fish/fishd.tmp.*
tmp/*
vendor/delta
vendor/fd
vendor/fx
vendor/fzf
vendor/k6
vendor/llama
vendor/rclone
vendor/restic
vendor/svu
vendor/walk
vendor/zoxide
!bin/.gitkeep
!bin/pipes
!bin/unarchive
