.manage_modules
bin/*
fish/fish_variables
fish/fishd.tmp.*
tmp/*
vendor/*
!bin/.gitkeep
!bin/pipes
!bin/unarchive

.firecrawl/

# SELinux policy build artifacts
selinux/**/tmp/
selinux/**/*.pp
selinux/**/*.if
selinux/**/*.cil
