[submodule "vendor/fzf"]
  path = vendor/fzf
  url = https://github.com/junegunn/fzf.git
[submodule "vendor/oh-my-fish"]
	path = vendor/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "vendor/fish-pisces"]
	path = vendor/fish-pisces
	url = https://github.com/laughedelic/pisces
